/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: medium;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

p#mainTitle {
  font-size: 175%;
}
p.title {
  font-size: 125%;
  text-align: center;
  border: 1px solid black;
  width: 50%;
  height: 35px;
  float: right;
  margin: 0;
  position: relative;
  top: -1px;
  right: -1px;
  padding: 8px;
}

p#chicken {
  background-color: LightPink;
  color: black;
}

p#beef {
  background-color: #e61919;
  color: white;
}

p#sushi {
  background-color: LightGoldenRodYellow;
  color: black;
}

div#container {
  position: relative;
  padding: 10px;
}

div#content {
  position: relative;
  border: 1px solid black;
  background-color: lightgray;
}

section {
  clear: both;
  padding: 8px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Tablets **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}

  
